<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.threads_clone">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.app.threads_clone.app.App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.social"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.app.threads_clone.SeetingsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.threads_clone.MenuActivity"
            android:exported="false" />
        <activity
            android:exported="false"
            android:name="com.app.threads_clone.SelectFeelingActivity" /> <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="ru.ifsoft.network.SearchActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.threads_clone.AppActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
<!--        <activity-->
<!--            android:name="com.google.android.gms.ads.AdActivity"-->
<!--            android:exported="false"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
<!--            android:theme="@android:style/Theme.Translucent" />-->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_action_push_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name="com.app.threads_clone.service.MyFcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.app.threads_clone.SplashActivity"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.threads_clone.LoginActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.SignupActivity"
            android:label="@string/title_activity_signup"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_feeds" />
        <activity
            android:name="com.app.threads_clone.RecoveryActivity"
            android:label="@string/title_activity_recovery"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="false"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name="com.app.threads_clone.WebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name="com.app.threads_clone.ChangePasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_change_password"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.ServicesActivity"
            android:exported="false"
            android:label="@string/title_activity_services" />
        <activity
            android:name="com.app.threads_clone.NewItemActivity"
            android:exported="false"
            android:label="@string/title_activity_new_item"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.app.threads_clone.NewGalleryItemActivity"
            android:exported="false"
            android:label="@string/title_activity_new_gallery_item" />
        <activity
            android:name="com.app.threads_clone.ViewItemActivity"
            android:label="@string/title_activity_view_item"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.ProfileActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:label="@string/title_activity_profile" />
        <activity
            android:name="com.app.threads_clone.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.app.threads_clone.NotificationsActivity"
            android:exported="false"
            android:label="@string/title_activity_notifications" />
        <activity
            android:name="com.app.threads_clone.PhotoViewActivity"
            android:exported="false"
            android:label="@string/title_activity_photo_view"
            android:theme="@style/PhotoViewTheme" />
        <activity
            android:name="com.app.threads_clone.VideoViewActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:label="@string/title_activity_video_view"
            android:theme="@style/PhotoViewTheme" />
        <activity
            android:name="com.app.threads_clone.HashtagsActivity"
            android:exported="false"
            android:label="@string/title_activity_hashtags" />
        <activity
            android:name="com.app.threads_clone.FollowersActivity"
            android:exported="false"
            android:label="@string/title_activity_followers" />
        <activity
            android:name="com.app.threads_clone.LikersActivity"
            android:exported="false"
            android:label="@string/title_activity_likers" />
        <activity
            android:name="com.app.threads_clone.AccountSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_account_settings"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.BlackListActivity"
            android:exported="false"
            android:label="@string/title_activity_black_list" />
        <activity
            android:name="com.app.threads_clone.DialogsActivity"
            android:exported="false"
            android:label="@string/title_activity_dialogs" />
        <activity
            android:name="com.app.threads_clone.ChatActivity"
            android:label="@string/title_activity_chat"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.threads_clone.NotificationsSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_notifications_settings"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name="com.app.threads_clone.PrivacySettingsActivity"
            android:label="@string/title_activity_privacy_settings"
            android:exported="false"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name="com.app.threads_clone.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.SupportActivity"
            android:label="@string/title_activity_support"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.LocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_location"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.DeactivateActivity"
            android:exported="false"
            android:label="@string/title_activity_deactivate"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GalleryActivity"
            android:exported="false"
            android:label="@string/title_activity_gallery"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.ViewImageActivity"
            android:label="@string/title_activity_view_image"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.ManagedGroupsActivity"
            android:label="@string/title_activity_managed_groups"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GroupActivity"
            android:label="@string/title_activity_group"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GroupSettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GroupSearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.app.threads_clone.BalanceActivity"
            android:exported="false"
            android:label="@string/title_activity_balance"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GiftsActivity"
            android:exported="false"
            android:label="@string/title_activity_gifts"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:exported="false"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.WelcomeActivity"
            android:exported="false"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name="com.app.threads_clone.ReferralsActivity"
            android:exported="false"
            android:label="@string/title_activity_referrals"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.MarketNewItemActivity"
            android:exported="false"
            android:label="@string/title_activity_market_new_item"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.MarketViewItemActivity"
            android:exported="false"
            android:label="@string/title_activity_market_view_item"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.MarketMyItemsActivity"
            android:exported="false"
            android:label="@string/title_activity_market_my_items"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.ViewYouTubeVideoActivity"
            android:exported="false"
            android:label="@string/title_activity_view_youtube_video"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.MarketActivity"
            android:exported="false"
            android:label="@string/title_activity_market"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.StreamActivity"
            android:exported="false"
            android:label="@string/title_activity_stream"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GuestsActivity"
            android:exported="false"
            android:label="@string/title_activity_guests"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.GroupsActivity"
            android:exported="false"
            android:label="@string/title_activity_groups"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.NearbyActivity"
            android:exported="false"
            android:label="@string/title_activity_nearby"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.UpgradesActivity"
            android:exported="false"
            android:label="@string/title_activity_upgrades"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.PopularActivity"
            android:exported="false"
            android:label="@string/title_activity_popular"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.app.threads_clone.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_signup" />
        <activity android:name="com.app.threads_clone.MediaViewerActivity" />
        <activity
            android:name="com.app.threads_clone.BalanceHistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_balance_history" />
        <activity
            android:name="com.app.threads_clone.RecentlyDeletedActivity"
            android:exported="false"
            android:label="@string/title_activity_recently_deleted"
            android:theme="@style/MyMaterialTheme" />
    </application>

</manifest>